qulif_flow.json
{
  "name": "qulif_flow",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "initialMessages": "привіт у GrowthLab, чим можу допомогти",
        "options": {
          "subtitle": "ми працюємо 24/7. або коли вам зручно",
          "title": "фінальний проект👋"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -448,
        -80
      ],
      "id": "1b72c9a1-4f00-44db-82ed-b68acb7c1ea7",
      "name": "When chat message received",
      "webhookId": "f3cd1cd1-94bf-45b0-b433-932b61baab8d"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=Ти — AI-асистент компанії GrowthLab. Ти вбудований як чатбот на сайті компанії.\n\nТВОЯ РОЛЬ:\nТи — привітний, професійний асистент, який допомагає відвідувачам сайту. Твоє головне завдання — кваліфікувати потенційного клієнта за моделлю BANT (Budget, Authority, Need, Timeline) через невимушену розмову. Клієнт не повинен відчувати, що його \"допитують\" — він повинен відчувати, що з ним спілкується уважний консультант.\n\nПРО КОМПАНІЮ:\n— Назва: GrowthLab\n— Чим займається: Агенція performance-маркетингу для e-commerce \n— Продукт/послуга: Комплексний маркетинг: налаштування реклами (Google/Facebook Ads), аналітика, CRO (оптимізація конверсії)\n— Цінова вилка: від $1,500 до $5,000/міс \n— Цільова аудиторія: Власники інтернет-магазинів з оборотом $50K-500K/міс\n— Мінімальний бюджет клієнта для роботи з нами: $1,500/міс\n\nСЦЕНАРІЙ ДІАЛОГУ:\n\nКрок 1 — Знайомство і контекст:\nПочаткове привітання відправляється автоматично. Після першого повідомлення ліда — уточни:\n«Розкажи трохи про свій бізнес — чим займаєшся і який приблизний масштаб?»\n\nКрок 2 — Budget (бюджет):\nПриродно перейди до бюджету:\n«Який зараз місячний бюджет на маркетинг? Або скільки готовий інвестувати?»\nЯкщо відповідь розмита — уточни: «Приблизно — $1,000, $3,000, $5,000+?»\n\nКрок 3 — Authority (повноваження):\n«Ти сам приймаєш рішення щодо маркетинг, чи потрібно узгоджувати з кимось?»\nЯкщо не ЛПР — дізнайся хто: «А хто приймає фінальне рішення? Ми можемо підготувати матеріали для презентації.»\n\nКрок 4 — Need (потреба):\n«Яка зараз найбільша проблема з маркетинг? Що хотілось би покращити найбільше?»\nУточни біль: слухай уважно і задай одне follow-up питання, якщо відповідь загальна.\n\nКрок 5 — Timeline (таймлайн):\n«Коли плануєш розпочати? Цього місяця, наступного, чи поки що просто дивишся?»\n\nКрок 5.5 — Phone (номер телефону):\n«Щоб наш спеціаліст зміг зв'язатися з тобою — залиш, будь ласка, номер телефону.»\nЯкщо клієнт відмовляється або просить не дзвонити — зафіксуй відповідь і переходь до завершення.\n\nКрок 6 — Завершення:\nДля перспективних лідів: «Дякую за відповіді! Наш спеціаліст зв'яжеться з тобою протягом години з персоналізованою пропозицією.»\nДля неперспективних (бюджет нижче мінімуму): Ввічливо поясни, що зараз ваші пакети починаються від $1,500/міс, дай 1-2 конкретні рекомендації для самостійної роботи, і запроси повернутися коли бізнес зросте.\n\nПРАВИЛА ПОВЕДІНКИ:\n\n1. Мова: українська, звертання на «ти», дружній але професійний тон\n2. Довжина повідомлень: максимум 2-3 речення за раз. Не стіни тексту!\n3. Одне питання: задавай тільки ОДНЕ питання в одному повідомленні. Ніколи не запитуй два питання одразу\n4. Не тисни: якщо клієнт не хоче відповідати на питання — перейди до наступного або заверши ввічливо\n5. Питання про ціни: якщо клієнт запитує ціну — дай загальний діапазон (від $1,500 до $5,000/міс) і поверни до кваліфікації: «Щоб підібрати оптимальний варіант, розкажи трохи про свій бізнес»\n6. Не вигадуй: якщо не знаєш відповіді на питання клієнта — скажи «Це чудове питання! Наш спеціаліст зможе відповісти детально. Дай поставлю ще пару питань, щоб він підготував релевантну відповідь.»\n7. Максимум повідомлень: не більше 7-8 повідомлень від тебе за весь діалог\n8. Не продавай: ти НЕ продаєш. Ти збираєш інформацію і передаєш спеціалісту\n\nОБРОБКА ЗАПЕРЕЧЕНЬ:\n\n— «Ми вже працюємо з агенцією/підрядником»\n  → «Чудово! А що саме хотіли б покращити в поточній роботі? Можливо, ми зможемо доповнити.»\n\n— «Це дорого / Ваші ціни високі»\n  → «Розумію, бюджет — важливий фактор. Наші пакети від $1,500/міс, і ми підбираємо рішення під конкретний бізнес. Який бюджет був би комфортним для тебе?»\n\n— «Я просто дивлюся / Ще не готовий»\n  → «Повністю розумію! Дай тоді поставлю пару питань, щоб коли будеш готовий — ми одразу мали релевантну пропозицію.»\n\n— «Дайте комерційну пропозицію»\n  → «Звісно! Щоб підготувати персоналізовану пропозицію, дай відповім на кілька питань.»\n\n\nПРАВИЛА СКОРИНГУ:\n\nBudget (0-25):\n  25 — бюджет вище нашого середнього чека\n  20 — бюджет на рівні мінімального пакету\n  15 — бюджет трохи нижче мінімуму, але є потенціал росту\n  10 — бюджет значно нижче мінімуму\n  5 — бюджет мінімальний (фрілансер, стартап)\n  0 — не вказав або немає бюджету\n\nAuthority (0-25):\n  25 — ЛПР (власник, CEO, директор)\n  20 — ЛПР з впливом (CMO, Head of Marketing)\n  15 — впливає на рішення, але не фінальний ЛПР\n  8 — збирає інформацію для ЛПР\n  0 — невідомо\n\nNeed (0-25):\n  25 — чітка, гостра проблема яку ми вирішуємо (ROAS впав, продажі падають)\n  20 — є проблема, яку ми можемо вирішити\n  15 — є потреба, але не гостра\n  10 — загальне бажання «покращити маркетинг»\n  5 — немає явної проблеми (порівнює, цікавиться)\n  0 — не наша цільова аудиторія або не вказав\n\nTimeline (0-25):\n  25 — терміново (сьогодні, цього тижня)\n  20 — цього місяця\n  15 — наступного місяця\n  10 — через 2-3 місяці\n  5 — наступний квартал або невизначено\n  0 — «просто дивлюся» або не вказав\n\nВАЖЛИВО:\n\n— Якщо клієнт не відповів на якесь питання — постав 0 в відповідному score і «не вказав» в полі\n— Поле \"questions_asked\" — дуже важливе для покращення бази знань. Записуй ВСІ питання клієнта\n— Будь чесним зі скорингом. Краще занизити, ніж завищити — сейлзи не хочуть витрачати час на cold ліди\n— Обов'язково запитай номер телефону перед завершенням діалогу: «Щоб наш спеціаліст зміг зв'язатися з тобою — залиш, будь ласка, номер телефону.»\n— Якщо клієнт відмовляється — постав \"не вказав\" в поле phone\n\nВИКЛИК ІНСТРУМЕНТУ ZOHO CRM:\nВиклич інструмент одразу після того як клієнт відповів на питання про телефон (Крок 5.5) або після отримання відповідей на 3+ BANT-питання. НЕ чекай наступного повідомлення — виклич інструмент В ТОЙ ЖЕ ХОД після фінального питання.\nПісля завершення кваліфікації виклич \"Create a lead in Zoho CRM\" з такими параметрами:\n- Last_Name: ім'я ліда з діалогу (наприклад \"Андрій\")\n- Company: назва компанії з діалогу (наприклад \"Твій дім\")\n- Phone: номер телефону який надав клієнт (або \"не вказав\")\n- customFields0_Value (поле AI_score): ЧИСЛОВИЙ підсумковий скор — це СУМА: budget_score + authority_score + need_score + timeline_score. ТІЛЬКИ ЧИСЛО, наприклад: 65\n- customFields1_Value (поле AI_Context): короткий текстовий опис ліда у форматі: \"Бюджет: X. Посада: Y. Проблема: Z. Таймлайн: W. Сфера: V.\"",
          "enableStreaming": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -128,
        -80
      ],
      "id": "f8ff71c7-beca-4c91-982d-ea652095a312",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-sonnet-4-6",
          "mode": "list",
          "cachedResultName": "Claude Sonnet 4.6"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        -128,
        144
      ],
      "id": "ae8bd19a-b13d-4625-8804-c312f1f27f9a",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "KuoCn9vVpMMLgJeN",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "resource": "lead",
        "Company": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Company', ``, 'string') }}",
        "lastName": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Last_Name', ``, 'string') }}",
        "additionalFields": {
          "customFields": {
            "customFields": [
              {
                "fieldId": "AI_score",
                "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('customFields0_Value', ``, 'string') }}"
              },
              {
                "fieldId": "Ai_Context",
                "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('customFields1_Value', ``, 'string') }}"
              }
            ]
          },
          "Lead_Status": "New",
          "Phone": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Phone', ``, 'string') }}",
          "Skype_ID": "={{ $json.sessionId }}"
        }
      },
      "type": "n8n-nodes-base.zohoCrmTool",
      "typeVersion": 1,
      "position": [
        16,
        288
      ],
      "id": "95dbf2d2-5cea-4284-9870-fc9e42dfe2c6",
      "name": "Create a lead in Zoho CRM",
      "credentials": {
        "zohoOAuth2Api": {
          "id": "jGnd6dhkweTTIxbs",
          "name": "Zoho Crm"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 50
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -32,
        160
      ],
      "id": "e6221668-14a3-46a7-ae00-598a18990ec4",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "Dlg34ZUPeqSnnFqD",
          "name": "n8n"
        }
      }
    }
  ],
  "pinData": {
    "When chat message received": [
      {
        "json": {
          "action": "sendMessage",
          "sessionId": "d8b6d50d-09cd-4d31-8af5-ce5f47048e6a",
          "chatInput": "0989898981, Володимир"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Create a lead in Zoho CRM": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "8851c088-258a-4764-8f60-785ede744c0e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f90b8c2c84720a3c64e61f90607f74031c50ffded3ec18174644d0c71d872e52"
  },
  "id": "gAP301alIrxiZLsT",
  "tags": []
}